version: '3.2'

services:
  php:
    build: docker/php
    ports:
      - 9000:9000
    volumes:
      - ./quixo:/quixo
    depends_on:
      - postgres
      - nginx
    environment:
      WAIT_HOSTS: postgres:5432
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./quixo:/quixo
      - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf
      - ./logs:/var/log/nginx/
  postgres:
    image: postgres:11
    environment:
      - POSTGRES_USER=quixo
      - POSTGRES_PASSWORD=quixo
      - POSTGRES_DB=quixo
    ports:
        - "5432:5432"
    expose:
        - "5432"
