index:
    path: /
    controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
    defaults:
        template: index.html.twig

newgame:
    path: /new-game
    controller: App\Controller\GameController::newGame

game:
    path: /game/{id}
    controller: App\Controller\GameController::game

assign-player:
    path: /assign-player/{id}
    controller: App\Controller\GameController::assignPlayer
    methods: GET|POST

spectate:
    path: /spectate/{id}
    controller: App\Controller\GameController::spectate

cancel-selection:
    path: /cancel-selection/{id}
    controller: App\Controller\GameController::cancelSelection
    methods: POST

get-advise:
    path: /get-advise/{id}
    controller: App\Controller\GameController::getAdvise
