.board {
    margin-left:auto;
    margin-right:auto;
    padding-top: 2%;
}

.cube {
    width: 100px;
    height: 100px;
    margin: 2px 2px;
    display: inline-block;
    border-radius: 5%;
    border: solid 1px black;
    background-size: 100px;
}

.cube-cross {
    background-image: url('../images/cross.png');
}

.cube-circle {
    background-image: url('../images/circle.png');
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form-cube {
    width: 100%;
    height: 100%;
}

.movable-cube-btn {
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 5%;
    border: solid 2px green;
    outline: none;
    padding: 0;
}

.winning-cube {
    background-color: green;
}

.header {
    padding: 10px 10px;
}

.game-message {
    font-size: 3em;
    text-align: center;
}

.selected-cube {
    background-color: cyan;
}

.example-cube {
    width: 25px;
    height: 25px;
    background-size: 25px;
    vertical-align: middle;
}

.reminder-team {
    font-size: 2rem;
}
