{% extends 'base.html.twig' %}
{% block refresh %}
    {% if waitForPlayer|default %}
        <meta http-equiv="refresh" content="1" />
    {% endif %}
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'instructions.html.twig' %}
{% endblock %}
{% block content %}
    {% include 'board.html.twig' %}
    {% if cancelForm %}
        <div class="cancel-selection">
            {{ form_start(cancelForm)}}
            {{ form_row(cancelForm.cancel, { attr: { class: 'btn btn-cancel' }}) }}
            {{ form_end(cancelForm) }}
        </div>
    {% endif %}
{% endblock %}
