{% extends 'base.html.twig' %}
{% block refresh %}
    {% if waitForPlayer %}
        <meta http-equiv="refresh" content="1" />
    {% endif %}
{% endblock %}
{% block header %}
    <div class="action-buttons">
        <a class="btn" href="{{ path('newgame') }}">New game</a>
    </div>
    <div class="game-message">
        {% if game.winner %}
            {{ game.winner|getPlayerName }} has won the game !
        {% else %}
            {% if not waitForPlayer %}
                It's your turn !
            {% else %}
                Waiting for {{ game.currentPlayer|getPlayerName }}
            {% endif %}
        {% endif %}
        <div class="reminder-team">
            You're playing with:
            <div class="cube cube-{{ playerTeam|getCubeSymbol }} example-cube">
        </div>
    </div>
    </div>

{% endblock %}
{% block content %}
    <table class="board">
        {% for line in game.board|default([]) %}
            <tr>
            {% set x = loop.index0 %}
            {% for cube in line|default([]) %}
                {% set y = loop.index0 %}
                <td>{% include 'cube.html.twig' with { x:x, y:y } %}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br />
{% endblock %}
