{% extends 'base.html.twig' %}
{% block refresh %}
    {% if waitForPlayer %}
        <meta http-equiv="refresh" content="1" />
    {% endif %}
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'instructions.html.twig' %}
{% endblock %}
{% block content %}
    {% include 'board.html.twig' %}
    {% if cancelForm %}
        <div class="cancel-selection">
            {{ form(cancelForm) }}
        </div>
    {% endif %}
{% endblock %}
