{% extends 'base.html.twig' %}
{% block refresh %}
    {% if waitForPlayer %}
        <meta http-equiv="refresh" content="1" />
    {% endif %}
{% endblock %}
{% block header %}
    <div class="action-buttons">
        <a class="btn" href="{{ path('newgame') }}">New game</a>
    </div>
    {% if game.winner %}
        <div class="winner">
            {{ game.winner|getPlayerName }} has won the game !
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <table class="board">
        {% for line in game.board|default([]) %}
            <tr>
            {% set x = loop.index0 %}
            {% for cube in line|default([]) %}
                {% set y = loop.index0 %}
                <td>{% include 'cube.html.twig' with { x:x, y:y } %}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br />
{% endblock %}
