{% extends 'base.html.twig' %}
{% block content %}
    <div class="board">
        {% for line in game.board|default([]) %}
            {% for tile in line|default([]) %}
                <div class="cube cube-{{tile|getCubeSymbol}}">
                </div>
            {% endfor %}
            <div></div>
        {% endfor %}
    </div>
{% endblock %}
