<div class="game-message">
    {% if game.winner %}
        {{ game.winner|getPlayerName }} has won the game !
    {% else %}
        {% if not waitForPlayer %}
            It's your turn !
        {% else %}
            Waiting for {{ game.currentPlayer|getPlayerName }}
        {% endif %}
    {% endif %}
    <div class="reminder-team">
        You're playing with:
        <div class="cube cube-{{ playerTeam|getCubeSymbol }} example-cube">
    </div>
</div>
