<div class="game-message">
    {{ game|getGameMessage(waitForPlayer)}}
    <div class="reminder-team">
    {% if playerTeam == 0 %}
        You're a spectator
    {% else %}
        You're playing with:
        <div class="cube cube-{{ playerTeam|getCubeSymbol }} example-cube">
    {% endif %}
    </div>
</div>
