.board {
    margin-left:auto;
    margin-right:auto;
    padding-top: 2rem;
}

.cube {
    width: 100px;
    height: 100px;
    margin: 2px 2px;
    display: inline-block;
    border-radius: 5%;
    border: solid 1px black;
}

.cube-cross {
    background-size: 100px;
    background-image: url('../images/cross.png');
}

.cube-circle {
    background-size: 100px;
    background-image: url('../images/circle.png');
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-cancel {
    background-color: #FF0000;
}

.form-cube {
    width: 100%;
    height: 100%;
}

.movable-cube {
    border: solid 2px green;
}

.winning-cube {
    background-color: green;
}

.header {
    padding: 10px 10px;
}

.game-message {
    font-size: 3em;
    text-align: center;
}

.selected-cube {
    border: none;
}

.example-cube {
    width: 25px;
    height: 25px;
    background-size: 25px;
    vertical-align: middle;
}

.reminder-team {
    font-size: 2rem;
}

.cube-btn {
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 5%;
    outline: none;
    padding: 0;
}

.label-choose-team {
    display: block;
    width: 100px;
    height: 100px;
    font-size: 0;
    border: solid black 1px;
    border-radius: 5%;
    cursor: pointer;
}

.team-choices{
    text-align: center;
}


.team-choices input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
}

.team-choices div {
    display: inline-block;
    margin: 30px;
}

.team-selection {
    text-align: center;
}

button {
    cursor: pointer;
}

.actions {
    text-align: center;
}

.advised-cube {
    background-color: greenyellow;
}
