<a id="advise" class="btn" href="javascript:void(0);">Advise me !</a>

<script>
    var isSelectedCube = "{{ game.selectedCube is not null }}";

    function listenOnClick() {
        document.getElementById('advise').addEventListener('click', getAdvice);
    }

    function displayAdvice(advice) {
        coords = isSelectedCube ? advice.coordsEnd : advice.coordsStart;
        element = document.querySelector(`[data-coords="${coords.x}-${coords.y}"]`);
        if (element) {
            element.classList.add('advised-cube');
        }
    }

    function getAdvice() {
        // Set up our HTTP request
        var xhr = new XMLHttpRequest();

        // Setup our listener to process completed requests
        xhr.onload = function () {
            // Process our return data
            if (xhr.status >= 200 && xhr.status < 300) {
                var advice = JSON.parse(xhr.response);
                displayAdvice(advice);
            } else {
                console.err('Request failed');
            }
        };

        xhr.open('GET', '{{ path('get-advise', { id: game.id }) }}');
        xhr.send();
    }

    window.onload = listenOnClick;
</script>
