<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block pageTitle %}Quixo-Symfo online!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/main.css') }}"/>
        {% endblock %}
        {% block refresh '' %}
    </head>
    <body>
        <div class="header">
            {% block header %}
                <div class="action-buttons">
                    <a class="btn" href="{{ path('newgame') }}">New game</a>
                </div>
            {% endblock %}
        </div>
        <div class="container">
            {% block content '' %}
        </div>
    </body>
    {% block javascript '' %}
</html>

<script>
    function initModal() {
        var modal = document.getElementById("modal");
        var btn = document.getElementById("modal-see-advice");
        var span = document.getElementsByClassName("close")[0];

        if (!modal || !btn) {
            return;
        }
        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
    window.addEventListener("load", initModal);
</script>
