{% extends 'base.html.twig' %}
{% block refresh %}
    {% if waitForPlayer %}
        <meta http-equiv="refresh" content="1" />
    {% endif %}
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'instructions.html.twig' %}
{% endblock %}
{% block content %}
    {% include 'board.html.twig' %}
    <div class="actions">
        {% if not waitForPlayer %}
            {% include 'advice.html.twig' %}
        {% endif %}
        {% if cancelForm is defined and cancelForm %}
                {{ form_start(cancelForm)}}
                {{ form_row(cancelForm.cancel, { attr: { class: 'btn btn-cancel' }}) }}
                {{ form_end(cancelForm) }}
        {% endif %}
    </div>
{% endblock %}
